/* Basic setting */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2B2A2C;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Text tags */
a {
  text-decoration: none;
  color: initial;
}
a:hover {
  color: initial;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Btn */
button {
  cursor: pointer;
  outline: none;
  border: none;
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 1000;
  transition: all ease 0.5s;
}
.header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  padding: 20px 0;
  background-color: #ebebeb;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav {
  height: 100%;
  align-content: center;
}

.nav--li {
  display: inline-block;
  margin: 0 20px;
}
.nav--li:hover .nav--link:after, .nav--li.active .nav--link:after {
  opacity: 1;
}

.nav--link {
  display: inline-block;
  color: #2B2A2C;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  transition: all ease 0.5s;
}
.nav--link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2B2A2C;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 0;
}

.header__btn {
  margin: auto 15px auto;
}

/* Nav-toggle */
.toggle {
  position: relative;
}

.nav-toggle {
  width: 30px;
  padding: 5px 0;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 43px;
  z-index: 1;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
  right: -12px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(-1.5px, -0.5px, 0);
  top: -7px;
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0.5px, -0.5px, 0);
  top: 12px;
}

.nav-toggle__item {
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #abaaaa;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 1px;
  transition: background 0.2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #abaaaa;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  top: 8px;
}

/* Btns */
.btn-c {
  display: flex;
  align-content: center;
  padding: 11px 30px;
  text-transform: uppercase;
  color: #2B2A2C;
  font-weight: 700;
  line-height: 1;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.btn-c:hover {
  transition: all 0.5s ease;
}

.btn-main {
  border: 2px solid #2B2A2C;
}
.btn-main:hover {
  background: #2B2A2C;
  color: #FFF;
}

.btn-bl {
  background: #2B2A2C;
  color: #FFF;
  border: 1px solid #2B2A2C;
}
.btn-bl:hover {
  color: #FFF;
}

.btn-wh {
  border: 1px solid #6A696B;
  color: #6A696B;
}
.btn-wh:hover {
  background: #2B2A2C;
  color: #FFF;
}

.btn-gr {
  border: 1px solid #8D8D8E;
  color: #8D8D8E;
}
.btn-gr:hover {
  background: #2B2A2C;
  color: #FFF;
}

/* Nav custom settings */
.user-logo {
  width: 57px;
  height: 57px;
}
.user-logo img {
  border-radius: 50%;
}

.user-info {
  margin-left: 12px;
}

.user-name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 133px;
}

.user-role {
  font-size: 12px;
  color: rgba(43, 42, 44, 0.7);
}

/* Hidden */
.hidden {
  overflow: hidden;
}

/* Intro */
.intro {
  min-height: 625px;
  width: 100%;
}

.intro-inner {
  height: 625px;
}

.intro-rs, .intro-ls {
  position: relative;
  width: 100%;
}

.intro-ls--inner {
  margin-top: 225px;
}

.intro-rs--inner {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.intro-title {
  font-size: 45px;
  font-weight: 700;
}

.intro-subtitle {
  font-size: 32px;
  font-weight: 200;
  line-height: 1;
}

.intro-text {
  font-size: 18px;
  color: fade(#2B2A2C, 70%);
}

.intro-social {
  margin-top: 20px;
}

.intro-social-link {
  margin-right: 10px;
  transition: all 0.5s ease;
}
.intro-social-link:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

.intro-btns {
  margin-top: 40px;
}

.d-btns .btn-bl {
  margin-right: 15px;
}

/* Works */
.works {
  padding: 42px 0;
}

.works-header {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.works-nav--link {
  font-size: 12px;
  padding: 0 16px;
  color: #6A696B;
}
.works-nav--link:hover {
  text-decoration: underline;
}

.works-card {
  padding: 0 15px;
  flex: 0 0 33.333333%;
}
.works-card:nth-child(n+7) {
  display: none;
  animation: showBlock 2s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wc-inner {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wc-inner img {
  display: block;
  max-width: 100%;
}

.wc-content {
  padding: 15px 12px;
}

.wc-category {
  font-size: 12px;
}

.wc-title {
  font-size: 16px;
  font-weight: 700;
}

.works-footer {
  margin: 10px 0;
}
.works-footer .btn-c:hover {
  background: transparent;
  color: #8D8D8E;
  border: 2px solid #8D8D8E;
}

/* About */
.about {
  padding: 115px 0 150px;
}

.about-inner {
  max-width: 1100px;
}

.about-ls, .about-rs {
  width: 50%;
  margin: auto 0;
}

.about-ls img {
  display: block;
  max-width: 100%;
}

.about-rs {
  margin-left: 48px;
  margin-top: 30px;
}

.about-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.about-subtitle {
  font-size: 92px;
  font-weight: 700;
  color: rgba(141, 141, 142, 0.3);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 15px;
}

.about-text {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 55px;
  line-height: 24px;
}

/* Quote */
.quote {
  padding-bottom: 125px;
}

.quote-inner {
  background: url(../img/quote.png) center no-repeat;
  background-size: cover;
  height: 230px;
}

.quote-area {
  position: relative;
}

.quote-text {
  line-height: 32px;
  font-weight: 200;
  font-style: italic;
  color: #8D8D8E;
  max-width: 830px;
  padding-top: 68px;
}

.quote-auth {
  position: absolute;
  bottom: -110px;
}

.auth-logo img {
  border-radius: 50%;
  border: 3px solid #FFF;
}

.auth-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.auth-company {
  color: #6A696B;
  font-style: italic;
  margin-bottom: 5px;
}

.auth-mark, .auth-logo {
  margin: 0 auto;
}

/* Blog */
.blog {
  padding: 100px 0 125px;
}

.header-blog {
  margin-bottom: 55px;
}

.header-blog-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-blog-subtitle {
  font-size: 18px;
  font-weight: 300;
}

.blog-card {
  padding: 0 15px;
  flex-basis: 33.333%;
  overflow: hidden;
}

.blog-img img {
  display: block;
  max-width: 100%;
}

.blog-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

.blog-cat {
  font-size: 12px;
  text-transform: uppercase;
}

.blog-text {
  font-weight: 300;
  font-size: 12px;
  margin: 25px 0 30px;
  line-height: 24px;
}

.blog-content .btn-gr {
  border: 2px solid #8D8D8E;
}
.blog-content .btn-gr:hover {
  background: #2B2A2C;
  color: #FFF;
  border-color: #2B2A2C;
}

.blog-more {
  margin-top: 15px;
}

.blog-btn--more {
  text-decoration: underline;
  color: #8D8D8E;
}

/* Footer */
footer {
  background: #2B2A2C;
  padding: 13px 0;
}

.footer-ls {
  margin: auto 0;
}

.footer-copyright {
  color: #8D8D8E;
  border-right: 1px solid #8D8D8E;
  padding-right: 13px;
  display: inline-block;
}

.footer-social {
  padding: 0 13px;
  display: inline-block;
}

.footer-social-link {
  display: inline-block;
  margin-right: 15px;
}

.ul--li {
  display: inline-block;
  margin: auto 9px;
}
.ul--li a {
  color: #8D8D8E;
}

.footer .btn-c {
  padding: 10px 20px;
  font-weight: 400;
  color: #8D8D8E;
  max-height: 36px;
}
.footer .btn-c:hover {
  color: #8D8D8E;
}

@media (max-width: 1199px) {
  .about-ls {
    width: 45%;
  }
  .about-rs {
    width: 55%;
  }
  .about-inner {
    max-width: 955px;
  }
}
@media (max-width: 991px) {
  .about-subtitle {
    font-size: 70px;
  }
  .about-ls {
    width: 0;
  }
  .about-rs {
    width: 85%;
  }
  .blog-more {
    margin-top: 25px;
  }
  .intro-rs--inner {
    right: -100px;
  }
  .user {
    min-width: 172px;
  }
  .quote-text {
    font-size: 13px;
  }
  .footer-ls {
    display: flex;
    flex-direction: column;
  }
  .footer-copyright {
    border: none;
    padding-right: 0;
    margin-bottom: 5px;
  }
  .footer-social {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .nav {
    justify-content: center;
    position: absolute;
    left: 0;
    background: #6A696B;
    right: 0;
    text-align: center;
    top: 95px;
    overflow-x: scroll;
    height: 100vh;
    z-index: 20;
    transform: translateY(-130%);
    transition: all 0.5s ease;
  }
  .nav.active {
    transform: translateY(0);
  }
  .nav ul {
    display: flex;
    flex-direction: column;
  }
  .nav--li {
    width: 100%;
    margin: 0 0 60px;
    font-size: 25px;
  }
  .nav--li a {
    display: block;
    width: 100%;
    padding: 15px 0;
  }
  .header__btn {
    display: none;
    opacity: 0;
  }
  .intro-ls {
    min-width: 380px;
  }
  .intro-rs--inner {
    right: -35px;
  }
  .about-text {
    margin-bottom: 25px;
  }
  .quote-text {
    padding-top: 40px;
  }
  .works-card {
    flex-basis: 50%;
  }
  .blog-card {
    flex-basis: 50%;
  }
  .blog-card:last-child {
    display: none;
  }
  .footer-ls {
    margin: 0;
  }
  .footer-rs {
    height: 65px;
    justify-content: space-between;
  }
  .footer .btn-c {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 575px) {
  .intro-rs {
    display: none;
    opacity: 0;
  }
  .works-area, .blog-cards {
    justify-content: center;
  }
  .works-card, .blog-card {
    flex-basis: 80%;
  }
  .blog-card {
    margin-bottom: 30px;
  }
  .about-title {
    font-size: 32px;
  }
  .about-subtitle {
    font-size: 58px;
  }
  .quote-text, .about-text {
    line-height: 24px;
    font-size: 11px;
  }
  .footer-ls {
    margin: 0 auto;
  }
  .footer-rs {
    margin-bottom: 10px;
  }
  .footer .btn-c {
    margin: 0 auto;
  }
}
