/* Slider */
.slick-slider
{
    position: relative;
    height: 100%;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    height: 100%;
    display: block;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.data-slider1 .slick-arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    top: 50%;
    width: 16px;
    height: 31px;
}

.data-slider1 .slick-arrow.slick-prev{
    left: 45px;
    background: url('../img/sl-arrow-left.svg') 0 0 / 100% no-repeat;
}

.data-slider1 .slick-arrow.slick-next{
    right: 45px;
    background: url('../img/sl-arrow-right.svg') 0 0 / 100% no-repeat;
}

.slick-dots {
    display: flex;
    position: absolute;
    padding: 0;
}

.data-slider1 .slick-dots {
    bottom: 15px;
    right: 0;
    left: 0;
    justify-content: center;
}

.slick-dots button {
    font-size: 0;
    border: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
}

.slick-dots li {
    margin-right: 12px;
    list-style: none;
}

.data-slider1 .slick-dots .slick-active button {
    width: 7px;
    height: 7px;
    background: #4299D5;
}