.body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #fff;
    background-color: #000;
}

.header { 
	height: 100%;
}

.page {
	overflow: hidden;
}

.footer{
	height: 160px;
}

.sec-title{
	margin-bottom: 180px;
}


/* Navbar */

#navbar-gmrswrld{
	padding: 30px 0 0;
	z-index: 10000;
}

#header-img{
	width: 180px;
	height: auto;
	display: inline-block;
	margin: 10px;
}

.logo-block a{
	margin-right: 0;	
}

.navbar-nav{
	width: 100%;
	justify-content: center;
	text-align: center;
}
 
.nav-item{
    padding: 0 15px;
}

.navbar-nav .nav-item a{
	color: #fff;
	font-weight: 500;
	background-color: #000;
}

.navbar button{
	margin: 10px;
}

.navbar-collapse:active, .navbar-collapse:focus{
	box-shadow: 0;
}


/* Icons Navbar & Footer */

.fab, .fa {
	color: #fff;
}

.fab:hover {
	color: #3daaff;
}

.whover:hover {
	color: #3daaff;
}

i {
    font-size: 20px;
	vertical-align: middle;
}

.links-block-item {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}

.links-block-item-mobile{
	display: none;
}

.links-block{
    display: flex;
    justify-content: flex-end;
	width: 200px;
}

.plus{
	margin-left: 6px;
}

/* -------------------Main Page-------------------- */

/* Welcome Section - Slider 1 */

#welcome-section{
	display: flex;
	height: 90vh;
	min-height: 450px;
}

.title-container{
	display: flex;
    align-items: center;
    -webkit-flex: 1 1 auto;
    text-align: center;
    min-height: 350px;
    height: 100%;
}

.box-1{
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

#carouselExampleFade{
	display: flex;
	width: 100%;
	height: 500px;
}

#carouselExampleFade button{
	width: 8.7%;
	opacity: 1;
}

.carousel-control-prev{
	transform: rotate(
	180deg
	);
}

.carousel-item {
	position: relative;
	height: 500px;
	width: 100%;
}

.carousel-item img{
	width: 100%;
	height: auto;
	min-height: 500px;
}

.slider-info {
	display: flex;
    position: absolute;
    text-align: left;
	padding: 60px 8.7% !important;
    height: 100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
}

.slider-info span{
	color: #3daaff;
}

.slider-info-label h1{
	font-size: 70px;
	font-weight: 800;
	margin-bottom: 0;
}

.slider-info-text {
	font-size: 16px;
	margin-top: 17px;
}

.slider-info-button #button-1{
	font-size: 12px;
	width: auto;
}

/* Pc Setup Section */

#pc-setup-section {
	display: flex;
	height: 100%;
}

.pc-setup {
    height: 100%;
}

.my-flex-cont {
	display: flex;
	height: 350px;
	flex-flow: wrap;
	margin: 5rem 0;
	justify-content: space-between;
	height: 100%;
}
.my-flex-box {
	margin: 5px;
	padding: 1rem;
	flex: 0 1 auto;
	width: 30%;
	display: flex;
}
.custom-icon{
	max-width: 75px;
}
.my-flex-item1{
	float: left;
    align-self: center;
    margin-right: 1.5rem;
}
.my-flex-item2{
    align-self: center;
}
.my-flex-item2 h3{
    font-size: 24px;
	font-weight: 700;
}
.my-flex-item2 h5{
    font-size: 18px;
	font-weight: 500;
}
.title-h1{
	font-size: 55px;
    font-weight: 800;
}

/* Slider 2 */

#slider-section{
	display: flex;
    flex-direction: column;
	height: 100%;
}
.slider2-area{
    padding: 5rem 0 0 0!important;
}

.interior .slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;			
}
.interior.slick-initialized .slick-slide {
	display: block;
}
.interior .slick-slide .item {
	background: #fff;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
	opacity: 0.8;
	transition: all 300ms ease;
	transform: scale(0.9);
}

.interior .slick-active .item {
	opacity: 0.8;
	transition: all 300ms ease;
}

.interior .slick-current .item {
	color: #e67e22;
	opacity: 1;
	transform: scale(1);
}

.interior .item img {
	max-width: 100%;
	width: 100%;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	z-index: 1;
	cursor: pointer;
	font-size: 44px;
}

.next {
	right: 420px;
}

.prev {
	left: 420px;
}

#fa-left2, #fa-right2 {
	color: #3daaff;
} 

/* -------------------Price Page-------------------- */

.price-area{
	display: flex;
    justify-content: space-between;
    margin: 90px 15px;
}

.label-price{
	font-size: 48px;
    line-height: 64px;
    color: #fff;
    font-weight: 600;
}

.day-title-wrap{
	padding-top: 100px;
}

.day-title-wrap.none{
	display: none !important;
}  

.day-title{
	font-size: 40px;
    line-height: 42px;
    color: #595959;
    padding-bottom: 238px;
    display: flex;
	font-weight: 600;
}

.day-title-mobile{
	display: flex;
}

.day-title-mobile.none{
	display: none;
}

.info {
	position:relative;
}

.info .text-info {
	display: none;
    border-radius: 4px;
    color: #fff;
    padding: 7px;
    position: absolute;
    z-index: 1;
    background: #262626;
    width: 188px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
	left: -80px;
    bottom: 40px;
}

.info i{
	position: relative;
    display: flex;
	font-size: 18px;
    margin-top: 14px;
    margin-left: 10px;
	color: #3daaff;
}

.info .text-info::after {
    content: " ";
    position: absolute;
    bottom: -20px;
    left: 87px;
    margin-left: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #262626 transparent transparent transparent;
    transform: rotate(360deg)!important;
}

.tabs {
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
	padding: 0;
    margin: 0;
}

.tabs li {
    display: block;
}

.tabs .tab-item .tab-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4a4a4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -1px;
    vertical-align: top;
	font-weight: 600;
	font-size: 16px;
	padding: 16px 0;
}

.tabs .tab-item.active .tab-group{
	color: #3daaff;
}

.tab-group {
    color: #00d1b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}

.tab-content-item{
	display: none;
}

.tab-content-item.active{
	display: block;
}

.table-wrap{
	padding-top: 108px;
}

.desc-price {
	width: 780px;
    height: 637px;
}

.tab-item{
	font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    color: #88898c;
    cursor: pointer;
    margin-right: 32px;
}

.tab-item.active{
	position: relative;
    border-bottom: 2px solid #3daaff;
    z-index: 1;
    color: #3daaff;
}

.tabs a:hover {
	color: #4a4a4a; 
}

.tab-item.active{
	color: #3daaff;
}

.fix-time{
	color: white;
}

.table-wrap .wrap-price-column {
    display: flex;
    justify-content: space-between;
}

.table-wrap .wrap-price-column .table-column {
    width: 252px;
    padding-bottom: 55px;
}

.table-wrap .wrap-price-column .table-column .time-wrap {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

.table-column.timeline-1.active .line {
    background: #13c2c2;
}

.table-wrap .wrap-price-column .table-column .line {
    height: 8px;
    width: 100%;
    background: #282828;
    margin-top: 5px;
}

.table-wrap .wrap-price-column .price-column .price-block {
    display: flex;
    padding-top: 14px;
}

.table-wrap .wrap-price-column .price-column .price-block .price-wrap {
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: #ffffff;
}

.table-wrap .wrap-price-column .price-column .price-block .hours-block {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff54;
    padding-top: 8px;
}

/* -------------------Reservation Page-------------------- */

#reservation{
	min-height: 90vh;
}

#datetimepicker {
	text-align: center;
	margin: 0.5rem auto;
	width: 300px;
}

.bgWhite {
	background-color: white;
}

.bgLightGray {
	background-color: lightgray;
}

.dateBlock {
	padding: 60px 0 40px;
}

.dateBlock div {
	padding-bottom: 20px;
}

.table-hr{
    border: none !important;
	margin: 0.5rem !important;
    height: 0.1px !important;
	background-color: darkgray !important;
	opacity: 1 !important;
}

.main-table{
	display: table !important;
    width: 100% !important;
}

.row.blockTable {
	display: none;
}

.row.nonTable {
	display: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px !important;
}

.flexBlock {
	width: 20%;
	position: relative;
	display: flex;
    justify-content: center;
}

.tableFlex {
	padding: 5%;
    display: flex;
    flex-direction: column;
}

.tableFlex img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	position: relative;
}

.tableFlex .numberTable {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 40%;
	text-align: center;
}

.tableFlex .timeTable {
	display: none;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    padding: 15px;
    border: 1px solid lightgrey;
    text-align: center;
    background-color: white;
    transform: translate(-50%, -50%);
	border-radius: 0.5rem;
}

.tableFlex:hover .timeTable, .tableFlex.selected .timeTable {
	display: table;
}

.tableFlex .timeTable div {
	cursor: pointer;
    white-space: normal;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.tableFlex .timeTable .timeSelect:hover {
	background-color: aquamarine;
}

.tableFlex .timeTable .timeSelect.active {
	background-color: red;
}

.tableFlex .timeTable .timeSelect.selected {
	background-color: #AFC6DD;
}

.tableFlex .timeTable .timeSelect.inactive {
	background-color: aquamarine;
}

.flexTableMore {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.place {
	width: 33%;
	height: 50%;
	background-color: yellow;
	border: 1px solid green;
}

.place:hover {
	background-color: orange;
}

.tableUp {
	width: 33%;
	height: 50%;
	background-color: red;
}

.tableDown {
	width: 33%;
	height: 50%;
	background-color: red;
}

.tableClick:hover, .hoverTable {
	background-color: blue;
}

.poster{
    position:relative;
}

.descr{
    display:none;
    margin-left:-350px;
    padding:10px;
    margin-top:17px;
    background:#f3f3f3;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.poster:hover .descr{
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
    width:400px;
}

.form-inline{
	opacity: 0;
}

.form-inline active{
	opacity: 1;
}

.tableFlex:hover .timeTable, .tableFlex.selected .timeTable {
	display: table;
    color: black;
    width: 240px;
}

.reserve-text{
	font-weight: 600;
	text-align: center;
}

.tableFlex h5{
	color: white;
    font-size: small;
}

.form-control {
    margin: 0.5rem auto;
	width:300px;
}

.form-inline {
	margin: 3rem;
}

.form-inline button{
	margin: 1rem;
}

.btn-reserve {
    min-width: 250px;
    padding: 15px !important;
    font-weight: 500 !important;
    margin-top: 40px !important;
    font-size: 18px !important;
}


/* -------------------Shop Page-------------------- */

/* Shop */

.shop-top {
	display: flex;
    justify-content: space-between;
	align-items: center;
	width: 100%;
    margin: 0 auto;
}

.main-label{
	font-size: 55px;
    font-weight: 800;
	margin: 0 1rem;
}

.basket-link{
	margin: 1rem;
}

.basket-link i{
	font-size: 32px;
	color: #ffffff;
}

.basket-link i:hover{
	color: #3daaff;
}

.shop-all{
	display: flex;
    justify-content: space-between;
    margin: 90px 0;
	flex-direction: column;
}

.shop-all .shop-area .card {
    color: black;
	width: 20%;
}

.shop-area{
	padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-card{
	position: relative;
    display: flex;
    flex-direction: column;
	background-color: #fff;
	border-radius: 1rem;
    margin: 1rem;
	color: black;
	width: 22.5%;
}

.shop-card .card-img {
	display: flex;
	padding: 0.5rem;
	justify-content: center;
}
	
.shop-card .card-img img{
	max-width: 250px;
}

.card-body {
    display: flex;
    padding: 1.25rem !important;
	align-content: space-between !important;
	flex-direction: column;
	height: 200px;
}

.price-count-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: auto;
}

.btn.btn-primary.shop-btn{
	font-weight: 600;
	font-size: 12px;
}

.card-title{
	font-size: 14px;
	font-weight: 500;
}

.card-title a{
    color: #000000;
    text-decoration: none;
}

.card-body .btn-block{
	display: flex;
	align-content: flex-end;
	margin-top: auto;
}

.price-block{
	font-weight: 600;
	font-size: 22px;
	color: #ff006e;
	letter-spacing: -0.02em;
}

.price-block span{
	font-weight: 400;
	font-size: 14px;
	text-decoration: line-through;
	margin: 0rem 0.5rem;	
}

.count-block {
    background-color: #012250;
    color: white;
    height: 25px;
    width: 55px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 1px;
    margin: 4px;
}

.btn.btn-primary.shop-btn{
    border-radius: 8px !important;
}

/* About product */

.details-card {
    position: relative;
    display: flex;
    background-color: #fff;
    color: black;
    width: 100%;
	align-items: center;
	margin-top: 30px;
	height: 90vh;
}

.details-body {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-img{
	display: flex;
    width: 100%;
    justify-content: center;
}

.details-img img {
    max-height: 350px;
    transition: 1s;
    padding: 35px;
}

.details-img img:hover {
  transform: scale(1.2); 
}

.details-size{
	display:none;
}

.details-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    width: 800px;
    text-align: center;
}

.details-body-block{
	display: flex;
    width: 1200px;
    justify-content: center;
    flex-direction: row-reverse;
}

.details-tobuy{
    display: flex;
    flex-direction: column;
}

.btn-buy, .go-basket{
    display: flex;
}

.btn-buy.inactive, .go-basket.inactive{
    display: none;
}

.btn-buy-item{
    min-width: 210px;
    padding: 13px !important;
    font-weight: 500 !important;
	margin-top: 15px !important;
}

.details-info{
	 display: flex;
    flex-direction: column;
    width: 50%;
}

.details-price{
	font-weight: 600;
    font-size: 28px;
    color: #ff006e;
    letter-spacing: -0.02em;
}

.fakeprice{
	font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
    margin: 0rem 0.5rem;
    color: #000000;
	display: inline-flex;
}

.details-desc{
	display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.details-label{
	display: flex;
    margin-bottom: -5px;
    font-size: 16px;
    font-weight: 600;
    color: #012250;
}

.quantity_goods{
	flex-direction: column;
	margin-bottom: 5px !important;
}

.size-select{
	width: 100% !important;
	margin-top: 8px;
}

.count-input{
	width: 210px !important;
}


/* More about product (from DB)*/

.attrs-dotted {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 5px 0;
    font-size: 13px;
    font-weight: 500;
}
.attrs-dotted dt {
	width: 50%;
	margin: 0 0 8px 0;
	padding: 0;
	display: flex;	
	box-sizing: border-box;
	align-items: flex-end;
	position: relative;
	word-break: break-word;
	color: #5a6c7d;
	font-weight:500;
}
.attrs-dotted dt:before {
	content: "";
	display: block;
 	width: 100%;	
	position: absolute;   
	left: 0;
	bottom: .2em;
	border-bottom: 1px dotted rgba(0,26,52,.16);
}
.attrs-dotted dt span {
	padding-right: 5px;
	background: #fff;
	position: relative;
}
.attrs-dotted dd {
	width: 50%;
	display: flex;	
	box-sizing: border-box;
	align-items: flex-end;    
	margin: 0 0 8px 0;
	padding: 0 0 0 5px;
	word-break: break-word;
}

/* Basket */

.basket-label {
	padding-top: 90px;
}

.basket-area{
	margin-bottom: 100px;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
.basket-card{
	position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem;
    color: black;
    width: 90%;
	margin-bottom: 50px;
}

.basket-card .basket-card-img img {
    max-width: 150px;
}

.basket-card-img{
	padding: 1rem;
}

.basket-details-body{
	margin: 1rem 2rem 1rem 0.5rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
} 

.basket-details-title{
	font-size: 20px;
    font-weight: 600;
    line-height: 1;
    width: 60%;
    margin: 0.5rem;
}

.basket-details-title-lr{
	display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #012250;
    flex-direction: column;
    margin: 0.5rem;
}

.basket-details-price{
	font-weight: 600;
    font-size: 28px;
    color: #ff006e;
    letter-spacing: -0.02em;
	padding-bottom: 6px;
}

.quantity_goodss{
	position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    margin: 0.5rem !important;
}

.quantity_goodss input{
	max-height: 35px !important;
	max-width: 70px !important;
	width: auto !important;
}

.btn-del {
	height: 100%;
    margin-top: -20px!important;
}

.close-btn{
	float: right;
	color: white !important;
	font-size: 22px !important;
}

.empty-basket{
	text-align: center;
    font-size: 18px;
	height: 65vh;
	margin-top: 50px;
}

/* ------------------- Contacts -------------------- */

.map {
	margin-top: 90px;
}

.contacts-info{
    display: flex;
	align-self: center;
	flex-direction: column;
	margin: 90px 0;
}

.contacts-info-text {
	margin-top: 30px;
}

.info-text {
    margin: 1rem 0;	
}

.info-text-name{
    font-size: 32px;
    font-weight: 700;
	line-height: 1.3;
}

.info-text-note{
	font-size: 24px;
    font-weight: 700;
    color: #3daaff;
}

/* Form Auth and Register*/

.no-label{
	display: none;
	padding: 0 0 15px 0;
	font-size: 1.25rem;
}

.auth-area, .register-area{
 	height: 80vh;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 	align-items: center;
 	padding: 15px;
 	color: black !important;  
}

.form-sys h2{
	text-align: center;
	font-size: 2rem;
	padding-bottom: 35px;
}

.auth-form, .register-form{
 	width: 400px;
 	background: #fff;
 	border-radius: 10px;
 	overflow: hidden;
 	padding: 40px 55px 33px 55px;
 	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-sys {
 	width: 100%;
}

.form-group-sys {
	display: block;
	padding: 0 15px 45px 15px;
	margin: auto;
}

.form-sys-btn {
	display: block;
	padding-left: 15px;
	margin: auto;
}

.form-sys-btn2{
	text-align: center;
}

.form-field-wrap {
	position: relative;
	border-bottom: 2px solid #787878;
}

.form-field {
	outline: 0;
	height: 40px;
	width: 100%;
	border: none;
	display: block;
	font-size: 1.25rem;
}

.focus-input {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
}

.focus-input::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	display: block;
	bottom: -2px;
	left: 0;
    background: linear-gradient(90deg, #00D4C5, #00FF00);
	transition: width .4s;
}

.form-field:focus + .focus-input::before {
    width: 100.06%;
}

.focus-input::after {
	position: absolute;
	content: attr(data-placeholder);
	color: #787878;
	font-size: 1.25rem;
	top: 7px;
	left: 0;
	transition: top .2s ease-in-out;
}

.form-field:focus + .focus-input::after, .filled + .focus-input::after {
	top: -24px;
}

/* Footer */

.footer{
	height: 70px;
	margin: 30px 0;
}
.links-block-footer{
	display: flex;
	justify-content: flex-end;
}
.links-block-item-footer {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}
.logo{
	width: 220px;
}
.footer-fab{
	font-size: 22px;	
}


@media (max-width:1600px) {
	
	/* -------------------Main Page-------------------- */
	
	/* Welcome Section - Slider 1 */
	
	.slider-info-label h1 {
		font-size: 60px;
	}
	.slider-info-text {
		font-size: 15px;
	}
	
	/* Pc Setup Section */
	
	.my-flex-item2 h5 {
		font-size: 16px;
	}
	.my-flex-item2 h3 {
		font-size: 24px;
	}
	
	/* Slider 2 */
	
	.next {
		right: 320px;
	}
	.prev {
		left: 320px;
	}
	
	/* -------------------Shop Page-------------------- */

	/* Shop */
		
	.shop-card{
		width: 22%;	
	}
}

@media (max-width:1400px) {
	
	.title-h1 {
		line-height: 1.6;
	}
	
	.sec-title {
		margin-bottom: 90px;
	}
	
	/* Navbar */
	
	.nav-item {
		padding: 0 10px;
	}
	
	.links-block-item{
		padding: 0 7px;
	}
	
	/* -------------------Main Page-------------------- */

	/* Slider 2 */
	
	.next {
	  right: 245px;
	}
	.prev {
	  left: 245px;
	}
	
	/* -------------------Price Page-------------------- */

	.desc-price {
		width: 100%;
		height: 100%;
		margin-top: 60px;
	}
	
	.price-area {
		flex-direction: column;
	}
	
	.day-title {
		justify-content: space-between;
		width: 100%;
		padding-bottom: 35px;
	}
	
	.table-wrap {
		padding-top: 60px;
	}
	
	.table-wrap .wrap-price-column .table-column {
		width: 32%;
	}
	
	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Shop Page-------------------- */

	/* Shop */

	.shop-card .card-img img {
		max-width: 200px;
	}
	
	/* About product */
	
	.details-body{
		width: auto;
	}
}

@media (max-width:1200px) {
	
	i {
		font-size: 18px;
	}
	
	/* Navbar */
	
	.nav-item {
		padding: 0 5px;
	}

	#header-img {
		width: 160px;
	}
	
	.links-block {
		width: 180px;
	}
	
	/* -------------------Main Page-------------------- */
	
	/* Welcome Section - Slider 1 */

	#carouselExampleFade, .carousel-item {
		height: 400px;
	}
	
	.carousel-item img {
		min-height: 400px;
	}
	
	.slider-info-label h1 {
		font-size: 50px;
	}
	.slider-info-text {
		font-size: 14px;
	}
	
	/* Pc Setup Section */
	
	.my-flex-box {
		width: 32%;
	}

	.custom-icon {
		max-width: 65px;
	}
	
	.my-flex-item2 h5 {
		font-size: 12px;
	}
	.my-flex-item2 h3 {
		font-size: 20px;
	}
	
	/* Slider 2 */
	
	.next {
	  right: 150px;
	}
	.prev {
	  left: 150px;
	}
		
	/* -------------------Price Page-------------------- */
	
	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Reserve Page-------------------- */
	
	.flexBlock {
		width: 25%!important;
	}
	
	/* -------------------Shop Page-------------------- */

	/* Shop */

	.shop-card {
		width: 29.5%;
	}
	
	.shop-area {
		justify-content: start;
		padding: 30px 0 60px;
	}
	
	/* About product */
	
	.details-img {
		width: 30%;
	}
	
	.details-img img {
		max-height: 275px;
		transition: 1s;
		padding: 25px;
	}	
	
	/* Basket */

	.basket-details-title {
		font-size: 18px;
	}
	
	.basket-details-price {
		font-size: 24px;
	}
	
	.basket-card .basket-card-img img {
		max-width: 90px;
	}
}

@media (max-width:991px) {
	
	i {
		font-size: 16px;
	}
	
	.title-h1 {
		font-size: 48px;
	}
	
	/* Navbar */
	
	#header-img {
		width: 45px;
		margin: 0 15px 0 0;
	}
	
	#navbar-gmrswrld {
    	padding: 0 !important;
		margin: 20px 0;
	}
	
	.nav-item {
		font-size: 14px!important;
	}
	
	.links-block {
		width: 65px;
	}
	
	/* -------------------Main Page-------------------- */
	/* Welcome Section - Slider 1 */

	#carouselExampleFade button {
		width: 11%;
	}
	
	.box-1 {
		position: relative; 
	}

	.slider-info{
		padding: 60px 11% !important;
	}

	.slider-info-label h1{
		font-size: 45px;
	}

	/* Pc Setup Section */
	
	.my-flex-cont {
		justify-content: space-evenly;
	}
	
	.my-flex-box {
		width: 262px;
	}
	
	.my-flex-item2 {
		width: 140px;
	}
		
	.my-flex-item2 h3 {
		font-size: 22px;
	}
	
	.my-flex-item2 h5 {
		font-size: 14px;
	}
	
	/* Slider 2 */
	
	.next {      
	  font-size: 35px;
	  right: 90px !important;
	}
	
	.prev {
	  left: 90px !important;
	  font-size: 35px;
	}
	
	/* -------------------Price Page-------------------- */	
	
	.desc-price {
		margin-top: 30px;
	}
	
	.price-area {
		margin: 45px 15px;
	}
	
	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Reserve Page-------------------- */
	
	.flexBlock {
		width: 33%!important;
	}
	
	.tableFlex {
		padding: 15%!important;
	}
	
	/* -------------------Shop Page-------------------- */
	
	/* Shop */
	
	.main-label {
		font-size: 48px;
		margin: 0;
	}
	
	.shop-all {
		margin: 45px 0 0;
	}
	
	.shop-top {
		width: 97%;
	}
	
	.shop-card {
		width: 44%;
		max-width: 290px;
	}

	.shop-area {
		justify-content: space-evenly;
	}
	
	.label-price {
		margin: 1rem 0;
	}
	
	/* About product */
	
	.details-body-block {
		min-width: 720px;
		width: 880px;
	}
	
	.details-title{
		width: auto;
	}
	
	/* Basket */
	
	.basket-label {
		padding: 45px 0 0 10px;
	}
	
	.close-btn{
		padding: 0 !important;
	}
	
	.basket-details-price, .basket-details-title {
		font-size: 16px;
	}
	
	.fakeprice {
		font-size: 12px;
	}
	
	.quantity_goodss input {
		max-height: 25px !important;
    	max-width: 45px !important;
	}
}

@media (max-width:767px) {
	
	.container {
		max-width: none !important;
	}
	
	.title-h1 {
		font-size: 40px;
	}
	
	.title-h1.title-main-page {
    	margin-left: 18px;
	}
	
	/* Navbar */
	
	.links-block-item-mobile {
		display: block;
	}
	
	.links-block-item {
		display: none;
	}
	
	.main {
		padding: 0 !important;
	}
	
	.logo-block {
		margin-left: 12px;
	}
	
	.toggler-btn {
		margin-right: 12px;
	}
	
	.nav-item {
		padding: 0;
	}
	
	#navbar-gmrswrld {
	    margin: 0 !important;
	}
	
	.links-block, .logout{
		display: none;
	}
	
	.navbar-collapse{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
	}
	
	#header-img, .navbar button {
		margin: 15px;
	}
	
	/* -------------------Main Page-------------------- */
	
	/* Welcome Section - Slider 1 */
	
	.carousel-item img {
		height: 550px;
	}
	#carouselExampleFade, .carousel-item {
		height: 550px;
	}

	.slider-info{
		padding: 60px 13.7% !important;
	}
	
	.slider-info-label h1{
		font-size: 42px;
	}

	/* Pc Setup Section */
	
	.my-flex-box {
		width: 48%;
	}
	.my-flex-item2 h3 {
		font-size: 18px;
	}
	.my-flex-item2 h5 {
		font-size: 12px;
	}

	/* -------------------Price Page-------------------- */
	
	.desc-price {
		margin-top: 0;
	}
	.price-area {
		padding: 0 15px;
	}

	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Reserve Page-------------------- */
	
	.flexBlock {
		width: 50%!important;
	}
	
	
	/* -------------------Shop Page-------------------- */

	/* Shop */
	
	.shop-all {
		margin: 45px 12px 0;
	}
	
	.shop-card {
		width: 43.5%;
		margin: 0 12px 24px 12px;
	}
	
	.shop-top {
		width: 93%;
	}
	
	.basket-link {
		margin: 0;
	}
		
	/* About product */

	.details-card {
		height: auto;
		margin-top: 0;
	}
	
	.details-body {
		width: 520px;
    	margin: 60px auto;
	}
	
	.details-title {
		text-align: center;
	}
	
	.details-body-block {
		min-width: unset;
		width: 100%;
		flex-direction: column-reverse;
	}
	
	.details-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 575px;
	}
	
	.btn-buy, .go-basket {
		margin-top: 0;
		justify-content: center;	
	}
	
	.count-input {
		width: 100% !important;
	}
	
	.details-label {
		margin-bottom: 0;
	}
	
	.details-tobuy {
		margin-top: 5px;
	}
	
	.quantity_goods {
		margin-top: 10px;
		width: 220px!important;
	}
	
	/* Basket */
	
	.basket-label {
		padding: 44px 0 0 22px;
	}
	
	.basket-details-body {
    	margin: 0.5rem 1rem;
	}
		
	.basket-details-title {
		font-size: 14px;
		margin: 0;
	}
	
	.basket-details-title-lr{
		margin: 0;
	}
	
	.close-btn {
	    font-size: 18px !important;
	}

	.basket-card .basket-card-img img {
		max-width: 70px;
	}
	
	.basket-card{
		margin: 0 0.55rem 50px 0.55rem;
	}
	
	.quantity_goodss {
		margin: 0 !important;
	}
	
	/* Contacts */
	.contacts-info {
		padding: 1.5rem!important;
	}
	
	/* Footer */
	
	.footer {
		margin: 15px 0;
	}
	.logo {
		width: 180px;
	}
	.footer-fab {
		font-size: 18px;
	}
}

@media (max-width:575px) {

	.title-h1.title-main-page {
		font-size: 32px;
	}
	
	/* Navbar */
	
	.nav-item {
		font-size: 13px!important;
	}

	#carouselExampleFade button {
		width: 0;
	}
	
	.slider-info {
		padding: 36px!important;
	}

	.slider-info-button #button-1 {
		font-size: 10px;
	}
	
	.slider-info-label h1{
		font-size: 32px;
	}
	
	.slider-info-text{
		font-size: 13px;
	}
	
	/* -------------------Main Page-------------------- */
	
	/* Pc Setup Section */
	
	.my-flex-cont {
		margin: 2rem 0;
	}
	
	.my-flex-box {
		width: 292px;
		margin: 0 auto;
	}
	.my-flex-item2 {
		width: 170px;
	}

	.my-flex-item2 h3 {
		font-size: 16px;
	}
		
	/* Slider 2 */
	
	.slider2-area{
		padding: 3rem 0 0 0 !important;
	}
	
	/* -------------------Price Page-------------------- */
	
	.tabs .tab-item .tab-group {
		font-size: 14px;
	}
	.table-wrap .wrap-price-column .table-column .time-wrap {
    	font-size: 12px;
	}
	.table-wrap .wrap-price-column .price-column .price-block .price-wrap {
		font-size: 29px;
	}
	.table-wrap .wrap-price-column .price-column .price-block .hours-block {
		font-size: 14px;
	}
	
	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Reserve Page-------------------- */

	.reserve-text {
		margin-top: 15px;		
	}
	
	/* -------------------Shop Page-------------------- */

	/* Shop */
	
	.label-price {
		margin: 0;
	}
	
	.main-label {
		font-size: 40px;
	}

	.shop-card{
		margin: 0 6px 24px 6px;
	}
	
	.price-block{
		font-size: 16px;
	}
	
	.price-block span {
		font-size: 8px;
		margin: 0rem 0.25rem;
	}
	
	.count-block{
		height: 18px;
		width: 45px;
		font-size: 10px;
	}
	
	.card-title{
		font-size: 12px;
	}
	
	.btn.btn-primary.shop-btn {
		font-size: 10px;
	}
	
	.shop-card .card-img img {
		max-width: 150px;
	}
	
	/* About product */
	
	.details-body {
   		width: auto;
		margin: 60px 25px;
	}
	
	.details-desc {
   		width: auto;
		min-width: unset;
	}
	
	.details-img img {
		max-height: 240px;
    	padding: 20px;
	}
	
	.details-info {
		min-width: unset;
	}
	
	/* More about product (from DB)*/
	
	.attrs-dotted dt span {
		font-size: 11px;;

	}
	
	.attrs-dotted dd {
		font-size: 11px;
	}
	
	/* Basket */
	
	.basket-card {
		margin: 0 0.55rem 50px 0.55rem;
	}
	
	.basket-details-body {
		margin-left: 0;
	}
	
	.basket-details-title-lr {
    	margin: 0 0.5rem;
    	width: 40px;
	}
	
	.basket-details-price {
		line-height: 1;
	}
	
	.basket-details-title {
		font-size: 12px;
	}
	
	.fakeprice {
		font-size: 12px;
	}
	
	/* Contacts */
	
	.info-text-name {
    	font-size: 24px;
	}
	.info-text-note {
    	font-size: 18px;
	}
	
	/* Form Auth and Register*/

	.auth-area, .register-area {
		padding: 30px;
	}
}

@media (max-width:425px) {
	
	.sec-title {
		margin-bottom: 45px;
	}
	
	.title-h1 {
		font-size: 32px;
	}
	
	.title-h1.title-main-page {
		font-size: 24px;
	}
	
	/* Navbar */
	
	.logo-block{
		margin-left: 0;
	}
	
	.toggler-btn{
		margin-right: 0;
	}
	
	/* -------------------Main Page-------------------- */
	
	/* Welcome Section - Slider 1 */
	
	.slider-info{
		padding: 0 24px !important;
	}

	.slider-info-button #button-1 {
		font-size: 11px;
	}

	.slider-info-label h1{
		font-size: 28px;
	}
	.slider-info-text {
		font-size: 11px;
	}

	/* -------------------Price Page-------------------- */
	
	.price-area{
		padding: 0;
	}
	
	.day-title {
		font-size: 32px;
	}

	.table-wrap {
		padding-top: 45px;
	}
	
	.tabs .tab-item .tab-group {
		font-size: 12px;
	}
	
	.table-wrap .wrap-price-column .table-column .time-wrap {
    	font-size: 12px;
	}
	
	.table-wrap .wrap-price-column .price-column .price-block .price-wrap {
		font-size: 26px;
	}
	
	/* Hidden Span element */
	
	.info .text-info {
	    right: -7px;
		left: inherit;
	}
	.info .text-info::after {
		left: 160px;
	}
	
	/* -------------------Reserve Page-------------------- */

	.flexBlock {
		width: 100%!important;
	}
	
	#datetimepicker {
		width: 190px !important;
	}
	
	/* -------------------Shop Page-------------------- */

	/* Shop */
	
	.shop-card {
		width: 100%;
		max-width: 265px;
		margin: 0 0 25px;
	}

	.shop-area{
		padding-bottom: 45px;
	}
	
	.main-label {
		font-size: 32px;
	}
	
	/* About product */
	
	.details-body{
		margin: 60px 6px;
	}
	
	.details-img img {
		max-height: 180px;
		padding: 15px;
	}
	
	.details-title {
   		font-size: 24px;
	}
	
	/* Basket */
	
	.basket-details-title {
		font-size: 10px;
	}
	
	.close-btn{
	    font-size: 14px !important;
	}
	
	.basket-details-price{
		font-size: 12px;
	}
	
	.fakeprice{
		font-size: 9px;
		margin: 0rem 0.25rem;
	}
	
	.basket-link i {
		font-size: 24px;
	}
	
	.basket-card-img {
		padding: 1rem 0;
	}
	
	.basket-card .basket-card-img img {
		max-width: 70px;
	}

	.basket-card{
		margin: 0 0.25rem 50px 0.25rem;
	}
	
	.quantity_goodss input {
		font-size: 12px;
	}
	
	.basket-details-body {
		margin: 1rem 0.5rem;
	}
	
	.form-control{
		padding: 0.2rem 0.5rem;
	}
	
	.quantity_goods{
		margin: 0 !important;
	}
	
	/* Form Auth and Register*/
		
	.auth-form, .register-form {
		padding: 20px 20px 16px;
	}	
}


