.body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background: #fff;
	color: #611f60;
}

*, 
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

/* Container & Page */

.container {
	width: 100%;
	height: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden, .page{
	overflow: hidden;
}

/* Header */

.header {
	padding: 25px 0;
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header.fixed {
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	transform: translate3d(0, 0, 0);
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
	transition: background-color .2s linear;
}

.header.active {
	box-shadow: none;
}

.header__inner {
	display: grid;
    grid-template-columns: 80px auto;
    justify-items: end;
    align-items: center;
}

.header__logo {
	display: flex;
	cursor: pointer;
}

.logo {
    width: 80px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 30px;
    position: relative;
	color: #52607f;
	font-style: italic;
    font-weight: 700;
    font-size: 16px;
	transition: all .1s linear;
}

.nav__link:last-child {
	 margin: 0 0 0 30px;
}

.nav__link.active, .nav__link:hover {
    color: #611f60;
	transition: all .1s linear;
}

/* Nav Toggle */

.nav-toggle {
    width: 30px;
    padding: 5px 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 38px;
    right: 20px;
    z-index: 1;
}

.nav-toggle:focus{
	outline: 0;
}

.nav-toggle__item{
	position: absolute;
	width: 100%;
	height: 3px;
	display: block;
	
	background-color: #611f60;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 1px;
	
	transition: background .2s linear;
}

.nav-toggle__item:before, .nav-toggle__item:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1px;
	
	background-color: #611f60;

	left: 0;
	z-index: 1;
	
	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	top: 8px;
}

.nav-toggle.active .nav-toggle__item{
	background: none;
	right: -12px;
}

.nav-toggle.active .nav-toggle__item:before{
	transform-origin: left top;
	transform: rotate(45deg) translate3d(-2.5px, -2.5px, 0);
}


.nav-toggle.active .nav-toggle__item:after{
	transform-origin: left bottom;
	transform: rotate(-45deg);
}

/* Home */

.home__area {
	width: 100%;
    height: 100vh;
    min-height: 650px;
	
	position: relative;
	overflow: hidden;
}

.home__inner {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	min-height: 550px;
}

.home__img {
	width: 360px;
}

.main__block {
	width: 500px;
	margin-top: 120px;
	z-index: 2;
	align-self: center;
}

.home__title {
	font-weight: 800;
    font-size: 40px;
}

.home__suptitle {
	font-weight: 800;
    font-size: 20px;
}

.home__desc {
	margin-top: 10px;
	font-weight: 500;
}

.trivial__block {
	margin-top: 120px;
	align-self: center;
}

/* Work */

.work__area {
	background-color: #f3f3f3;
	padding: 90px 0 110px;
}

.work__title {
	font-weight: 800;
    font-size: 40px;
	text-align: center;
	padding-bottom: 40px;
}

.work__inner {
	max-width: 850px;
	margin: 0 auto;
}

.work__item {
	background: #ffffff;
	padding: 50px;
	border-radius: 20px;
	display: flex;
	min-height: 482px;
}

.work__item-container {
	display: flex;
	justify-content: space-between;
}

.img-area {
	width: 55%;
	margin: auto 0;
}

.info-area {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.img-area img{
	max-width: 100%;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 1px 15px rgb(0 0 0 / 10%);
}

.label {
	font-size: 22px;
}

.text {
	font-size: 14px;
	margin: 15px 0;
}

.more-link {
	text-decoration: none;
	font-size: 16px;
	color: #611f60;
}

.more-link img{
	margin-left: 5px;
	display: initial!important;
}

.section--contacts {
	height: 100vh;
    max-height: 800px;
}

.contacts__area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.contacts__area .work__title {
	margin-bottom: 10px;
}

.contacts__block {
	display: flex;
}

.contacts__block a{
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	color: #611f60;
}

.contacts__block i{
	margin-right: 5px;
}

@media (max-width: 1400px) {
	
	/* Container */
	.container {
		width: 1140px;
	}

}

@media (max-width: 1230px) {
	
	/* Container */
	.container {
		width: 950px;
	}

	.work__inner {
		max-width: 725px;
	}

}

@media (max-width: 990px) {
	
	/* Container */
	.container {
		width: 750px;
	}
	
	/* Home */
	.main__block {
    	width: 420px;
	}
	
	.home__img {
    	width: 260px;
	}
	
	/* Work */

	.work__inner {
		max-width: 525px;
	}

	.work__item-container {
		flex-direction: column;
	}

	.img-area {
		width: 75%;
		margin: 0 auto 30px;
	}

	.info-area {
		width: 100%;
	}
}

	

@media (max-width: 770px) {
	
	/* Container */
	.container {
		width: 98vw;
	}

	.nav {
		position: absolute;
		left: 0;
		background: #eee;
		right: 0;
		text-align: center;
		top: 86px;
		overflow-x: scroll;
		height: 100vh;
		z-index: 20;
		transform: translateY(-130%);
		transition: all .5s ease;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 85px;
	}
	.nav.active {
		transform: translateY(0);
	}
	
	.nav__link, .nav__link:last-child {
		display: block;
		margin: 0;
    	padding: 15px 20px;
    	height: 81px;
    	font-size: 22px;
		text-align: center;
		color: #611f60;
	}
	
	.nav__link.active {
		color: #fff;
	}
	
	.nav-toggle {
		display: block;
	}
	
	/* Home */
	.home__area, .home__inner{
		height: auto;
	}
	
	.home__inner{
		flex-direction: column-reverse;
    	justify-content: center;
	}
	
	.main__block {
		width: 100%;
		margin-bottom: 120px;
		margin-top: 20px;
	}

	.work__inner {
		max-width: 405px;
	}

	.work__item {
		padding: 30px;
		min-height: 580px;
	}

}

@media (max-width: 575px) {
	
	/* Work */

	.work__link a {
    	font-size: 22px;
	}

	.work__inner {
		max-width: 305px;
	}

	.work__item {
		padding: 15px;
	}

}

@media (max-width: 455px) {
	.work__inner {
		max-width: 270px;
	}
}


